<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <h2>Book Return Notification</h2>
        <p>Dear {{ user.first_name }},</p>
        <p>You've returned all the borrowed book to our library </p>
        <h3 style="color: red;background-color: yellow;"><b>Note</b>Now You're able to borrow books again</h3>
        <p>Thank you </p>
        <footer><small>&copy; Ayush Library Management System 2023</small></footer>
    </div>
</body>

</html>
